html, body, main {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body.alongside {
	display: flex;
	flex-flow: nowrap;
}

#root, .App {
	display: flex;	
	flex-wrap: wrap;	
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

