aside {
	width: 300px;
	height: 100%;
	position: absolute;
	transform: translate(-300px, 0);
	transition: transform 0.3s ease;
	color: #ece5d7;
	background-color: #2e3d49;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2;
}

aside.open {
	transform: translate(0, 0);
}

aside.alongside {
	position: relative;
	transition: none;
}	

.search-input {
	width: calc(100% - 1em);
	padding: 0.6em;
	margin : 0.5em;
	font-size: 1.25em;
}

.list-view {
	list-style-type: none;
	padding-left: 0;
}

.list-item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 1.4em 0.7em;
}

.list-item-link {
	display: block;
	padding: 0.7em;
}

.search-input:focus {
	outline: 3px solid #3397db;
}

.list-item-link:focus {
	outline: 2px solid #3397db;
}